.process-page {
    
}

.title {
    color: black;
}

.process-form {
    width: 500px;
    height: 500px;
    
}

.process-form li {
    list-style-type: none;
    display: grid;
    grid-row-gap: 10px;
    padding: 20px;
    grid-template-columns: auto auto;
    padding-left: 5px;
}